# Dependencies
node_modules

# Build
dist
*.local

# Environment
.env
.env.*

# Logs & debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json
